<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logback.qos.ch/manual/index.html -->
<configuration>

    <property name="LOG_PATTERN_CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger{20}:%line] - %msg%n"/>
    <property name="LOG_PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger{60}:%line] - %msg%n"/>
    <property name="CHARSET" value="UTF-8"/>
    <property name="LOG_HOME" value="/temp/logs/generator" />

    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="RF"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/app-%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name ="ARF" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <queueSize>5120</queueSize>
        <appender-ref ref ="RF"/>
    </appender>

    <logger name="org.stathry.commons" level="DEBUG" additivity="true" />
    <logger name="org.stathry" level="INFO" additivity="true" />
    <logger name="org.springframework" level="INFO" additivity="true" />

    <root level="DEBUG">
        <appender-ref ref="ARF" />
        <appender-ref ref="C" />
    </root>

</configuration>